$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #00B1A5;
$secondary_paletteKeyColor: #627C78;
$tertiary_paletteKeyColor: #607A94;
$neutral_paletteKeyColor: #070707;
$neutral_variant_paletteKeyColor: #070707;
$background: #131313;
$onBackground: #E2E2E2;
$surface: #131313;
$surfaceDim: #131313;
$surfaceBright: #393939;
$surfaceContainerLowest: #0E0E0E;
$surfaceContainerLow: #1B1B1B;
$surfaceContainer: #1F1F1F;
$surfaceContainerHigh: #2A2A2A;
$surfaceContainerHighest: #353535;
$onSurface: #E2E2E2;
$surfaceVariant: #474747;
$onSurfaceVariant: #C6C6C6;
$inverseSurface: #E2E2E2;
$inverseOnSurface: #303030;
$outline: #919191;
$outlineVariant: #474747;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #51DBCE;
$primary: #51DBCE;
$onPrimary: #003733;
$primaryContainer: #00504A;
$onPrimaryContainer: #72F7EA;
$inversePrimary: #006A63;
$secondary: #B1CCC8;
$onSecondary: #1C3532;
$secondaryContainer: #354E4A;
$onSecondaryContainer: #CEEAE5;
$tertiary: #AEC9E6;
$onTertiary: #17324A;
$tertiaryContainer: #7993AF;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #72F7EA;
$primaryFixedDim: #51DBCE;
$onPrimaryFixed: #00201D;
$onPrimaryFixedVariant: #00504A;
$secondaryFixed: #CCE8E3;
$secondaryFixedDim: #B1CCC8;
$onSecondaryFixed: #051F1D;
$onSecondaryFixedVariant: #324B48;
$tertiaryFixed: #CEE5FF;
$tertiaryFixedDim: #AEC9E6;
$onTertiaryFixed: #001D33;
$onTertiaryFixedVariant: #2F4961;
